@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes marquee-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  @keyframes marquee-right {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }

  .animate-marquee-left {
    display: flex;
    width: max-content;
    animation: marquee-left 30s linear infinite;
  }

  .animate-marquee-right {
    display: flex;
    width: max-content;
    animation: marquee-right 30s linear infinite;
  }
}


html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 70px; 
}

* {
  scroll-behavior: smooth;
}


